BOT_TOKEN=8883430610:AAFFsprvyB90XSW2y_VJUkEZJ52Vu65_j74
CHANNEL=@nscapecode
CHANNEL_URL=https://t.me/nscapecode
COOPERATION_URL=https://t.me/nscapedev

# Railway подставит это сама, если в проекте подключён Postgres-плагин
DATABASE_URL=postgresql://postgres:aoTkaDIsRgSziuOvzvaSrbRelcwAOrMH@postgres.railway.internal:5432/railwaygit

# Твой Telegram ID (можно несколько через запятую: 111,222)
ADMIN_ID=8071904711
